/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.8125rem 0rem;
}
h1{
    color:var(--color-grey-1);
    font-size: var(--font-1);
    line-height: 2.1181rem;
    font-weight: var(--font_weight-1);

    width: 90%;
    height: 2.125rem;
}
.header_div-modoNoturno{
    background-color: var(--color-grey-8);
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}
.header_modoNoturno-img{
   padding: 25%;
}
.header_div-modoNoturno:hover{
    background-color: var(--color-white-fixed);
}


/*Nav*/
.nav_title{
    color:var(--color-grey-1);
    font-weight: var(--font_weight-1);
    font-size: var(--font-2) ;
    line-height: 1.21rem;

    width: 7.5625rem;
    height: 1.1875rem;
}
.nav_div{
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 4.75rem;
    gap: 0 2.47rem;
}
.nav_div-button{
    color: var(--color-grey-2);
    background-color: var(--color-grey-8);
    font-weight: var(--font_weight-2);
    font-size: var(--font-3);

    height: 2rem;
    border-radius:var(--radius-1);
    border: 1px var(--color-grey-8);
    padding: 0rem 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}
.nav_div-button:hover{
    background-color: var(--color-grey-7);
}
.nav_div-button:focus{
    background-color: var(--color-grey-1);
    color: var(--color-grey-8);
}
.span_range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.span_range-title{
    color: var(--color-grey-1);
    font-weight: var(--font_weight-1);
    font-size: var(--font-2);
    line-height: 1.21rem;
}
.span_range-value{
    color: var(--color-grey-2);
    font-weight: var(--font_weight-2);
    font-size: var(--font-2);
    line-height: 1.21rem;
}
.span_range-input{
   width: 100%;
   height: 0.5rem;
    background: var(--color-grey-5);
    cursor: pointer;
}


/*Section onde os albuns aparecem */
.section_album{
    margin-top: 4.25rem;
}
.section_album-title{
    color:var(--color-grey-1);
    font-weight: var(--font_weight-1);
    font-size: var(--font-2);
    line-height: 1.21rem;
    margin-bottom: 3rem;
}
.albuns{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.album{
    background-color: var(--color-grey-8);
    height: 16.1875rem;
    margin-bottom: 3rem;  

    /* animacao */
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
}
.album:hover{
    background-color: var(--color-grey-6);
}
.album_img{
    width: 19.25rem;
    height: 7.0625rem;
      /* animacao */
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.album_img:hover{
      /* animacao */
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.album-box{
    display: flex;
    flex-direction: column;
    margin: 20px 12px;
}
.album_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 1rem;
}
.album_band{
    color: var(--color-grey-2);
    font-weight: var(--font_weight-2);
    font-size: 0.75rem;
    line-height: 0.9075rem;
}
.album_ano{
    color: var(--color-grey-2);
    font-weight: var(--font_weight-2);
    font-size: 0.75rem;
    line-height: 0.9075rem;
}
.album_title{
    color:var(--color-grey-1);
    font-weight: var(--font_weight-1);
    font-size: var(--font-2);
    line-height: 1.21rem;
    margin-bottom: 1rem;
}
.div_album{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.album_price{
    color:var(--color-grey-1);
    font-weight: var(--font_weight-1);
    font-size: var(--font-3);
    line-height: 1.0588rem;
}
.button_comprar{
    background-color: var(--color-grey-7);
    border: 1px solid var(--color-grey-7);
    border-radius: var(--radius-1);
    width: 4.6875rem;
    height: 2rem;
    padding: 0rem 0.5rem;

    color:var(--color-grey-2);
    font-weight: var(--font_weight-2);
    font-size: var(--font-3);
    cursor: pointer;

}